@charset "utf-8";
/* CSS Document */

body {
	background: #333333;
	height: 100%;
	width: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: scroll;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #FFF;
	background-image: url(Images/logo1splash.jpg);
	background-position: center top;

}

a {	text-decoration:none;	color: #003;}
a:link {	color: #003;}
a:visited {	color: #003;}
a:active {	color: #003;}
a:hover {	color: #003;}

#content {
	position: relative;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
}

#top {	position: relative;	}

#banner {
	position: relative;
	height: 70px;	
}

#topmenu {
	position: relative;
	font-size: small;
	padding: 2px;
	color: #333;
	margin-right: 20px;
	margin-left: 280px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
}

/* Top Upcoming Games Box */
#scoreBoxContainer {
	position: relative;
	height: 37px;
	width: 912px;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	margin-right: 20px;
	margin-left: 24px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.topScoreBox {
	position: relative;
	height: 36px;
	width: 150px;
	float: left;
	border: 1px solid #CCC;
	cursor: pointer;
}
.DateBox {
	background-color: #666;
	color: #F93;
	font-size: x-small;
	text-align: center;
}

.TeamBox {
	height:24px;
	background: rgb(14,14,14); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(14,14,14) 0%, rgb(81,81,81) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(14,14,14)), color-stop(100%,rgb(81,81,81))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(14,14,14) 0%,rgb(81,81,81) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(14,14,14) 0%,rgb(81,81,81) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(14,14,14) 0%,rgb(81,81,81) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(14,14,14) 0%,rgb(81,81,81) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	text-align: center;
}

/* Container for top ad*/
#TopAd {
	position:relative;
	margin-right: auto;
	margin-left: auto;
	width: 728px;
	height:90px;
	padding-right: 116px;
	padding-left: 116px;
	padding-top: 15px;
	padding-bottom: 6px;
}


#mid {
	position: relative;
	width: auto;
	top: 10px;
	padding: 3px;
}

#mid_content {
	position:relative;
	background-color: #333;
	margin-right: 15px;
	margin-left: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
}

/*aritcles on Home page*/
.Article {
	float: left;
	position: relative;
	background-color:#FFF;
	width: 550px;
}

.ArticleText {
	float: left;
	position: realative;
	padding: 1em;
	width: 360px;
}

.ArticleText a {	text-decoration:none;	color: #FFF;}
.ArticleText a:link {	color: #FFF;}
.ArticleText a:visited {	color: #FFF;}
.ArticleText a:active {	color: #FFF;}
.ArticleText a:hover {	color: #FFF;}

#bot {
	position: relative;
	clear: both;
	background-color: rgba(51,51,51,0.9);
	margin-right: 30px;
	margin-left: 30px;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 20px;
	top: 10px;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	margin-bottom: 10px;
}


#contClear {
	clear: both;
	position: relative;
}

/*Match Header Team Image Layouts*/
.OverviewContent {
	position: relative;
	width:400px;
	margin-left:28px;
	margin-right:28px;
	float:left;
	background-color: #222;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}

.OverviewPicBox {
	position: relative;
}

.OverviewNameBG {
	position: relative;
}

.OverviewNameBox {
	position: relative;
	width:460px;
	font-size:24px;
	text-align:center;
	color:#333;
	top:-10px;
	left:-15px;
	font-weight: bolder;
}

.ONBa {
	position:relative;
		height:50px;
	background-image: url(Images/psd/images/green_under_01.png);
	width: 33px;
	float: left;
	z-index: 4;
}

.ONBb {
	position:relative;
	height:38px;
	background-image: url(Images/psd/images/green_under_02.png);
	width: 365px;
	float: left;
	background-repeat: repeat-x;
	padding-top: 8px;
	padding-bottom: 8px;
	z-index: 4;
}

.ONBc {
	position:relative;
	height:50px;
	background-image: url(Images/psd/images/green_under_03.png);
	width: 33px;
	float: left;
	z-index: 4;
}

.OvreviewStatsBox {
	position: relative;
	height:132px;
	top:-15px;
	padding-left:10px;
	padding-right:10px;
}

.OSBStat {
	position:relative;
	width:95px;
	float:left;
}

.OSBStatNum {
	position:relative;
	width:95px;
	font-size: 38px;
	text-align:center;
}

.OSBStatSub {
	position:relative;
	width:95px;
	font-size: x-small;
	text-align:center;
	top:-8px;
}

.OSBaddon {
	position:relative;
	width:190px;
	float:left;
	text-align:center;
	font-size:small;
}
	
.Blue {
	color: #06F;
}


.Red {
	color: #F33;
}

.VS {
	position: absolute;
	top: 312px;
	right: 415px;
	z-index: 6;
}

.OverviewPlayer {
	position:relative;
	float:left;
	height:160px;
	width:80px;
}

/* Overview Section Styles*/
.TeamInfo {
	position:relative;
	height:120px;
	width:240px;
	padding:5px;
}

.TourneyLogo {
	position:Absolute;
	top:10px;
	left:262px;
}

.GameOutcome {
	position:relative;
	height:20px;
	width:120px;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	margin-top: 10px;
}

.TeamLogo {
	position:relative;
	height:120px;
	width:120px;
	float:left;
}

.TeamWL {
	position:relative;
	height:120px;
	width:120px;
	float:left;
}

.TeamCall{
	position:relative;
	height:60px;
	font-size: 46px;
	font-weight: bolder;
	text-align: center;
}

.WL{
	position:relative;
	height:20px;
	font-size: 12px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
}

.TeamStats {
	position:relative;
}

/* Pick Order Icons*/

#Picks {
	position:relative;
	background-color:#222;
	height:370px;
	width:856px;
	padding-left:2px;
	padding-right:2px;
	margin-top: 5px;
	margin-right: 28px;
	margin-bottom: 12px;
	margin-left: 28px;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
}

#POBox {
	position:relative;
}

#POTeams {
	position:relative;
	height:130px;
	width:36px;
	float:left;
	padding:10px;
	margin-top:10px;
}

#POTeamsBlank {
	position:relative;
	height:30px;
	float:left;
}

.POTeamBox {
	position:relative;
	height:49px;
}

.POTeamText {
	position:relative;
	margin: 0 auto;
	top:31px;
}

#POBans {
	position:relative;
	float:left;
	height:130px;
	width:294px;
	padding-right:2px;
	padding-left:3px;
	margin-top:10px;
}

#POBanTag {
	position:relative;
	height:30px;
}

#POBanTable {
	position:relative;
	background-color:rgba(255,51,51, 0.1);
	height:98px;
}

#POPicks {
	position:relative;
	float:left;
	height:130px;
	width:490px;
	padding-right:2px;
	padding-left:3px;
	margin-top:10px;
}

#POPickTag {
	position:relative;
	height:30px;
}

#POPickTable {
	position:relative;
	background-color:rgba(101,255,0, 0.1);
	height:98px;
}

.POIcon {
	position:relative;
	height:49px;
	width:49px;
	float:left;
	background-size: contain;
}

.PickLabel {
	position:relative;
	color:#222;
}

.PLa {
	position:relative;
	float:left;
	background-image: url(Images/images/whiteUnderlay_01.png);
	height: 30px;
	width: 24px;
	background-size: contain;
}

.PLb {
	position:relative;
	float:left;
	background-image: url(Images/images/whiteUnderlay_02.png);
	height: 25px;
	padding-top:5px;
	background-size: contain;
	background-repeat: repeat-x;
	font-weight: bolder;
}

.PLc {
	position:relative;
	float:left;
	background-image: url(Images/images/whiteUnderlay_03.png);
	height: 30px;
	width: 24px;
	background-size: contain;
}

/* Common Picks Section under Picks and Bans */

#CommonContainer {
	position:relative;
	width:912px;
}

#ComLabel {
	position:relative;
	padding-left:55px;
}

.ComTeam {
	position:relative;
	width:421px;
	padding-left:10px;
	padding-top:5px;
	padding-right:10px;
	float:left;
}

.ComTeamID {
	position:relative;
	width:32px;
	height:33px;
	float:left;
}

.ComPlayer {
	position:relative;
	width:202px;
	float:left;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
	vertical-align: middle;
	display: table-cell;
}

.ComChampPool {
	position:relative;
	width:177px;
	padding-bottom:2px;
	float:left;
}

.ComChamp {
	position:relative;
	width:49px;
	height:29px;
	margin-left:5px;
	margin-right:2px;
	overflow:hidden;
	float:left;
}

.ComChampText {
	position:absolute;
	font-size: xx-small;
	color: #FFF;
	background-color: #111;
	right:1px;
	bottom:1px;
	padding-left:1px;
	padding-right:1px;
	overflow:visible;
}

.ComChamp img {
	position:relative;
	height:49px;
	width:49px;
	margin-top:-10px;
}

/* VOD CSS */

#VOD {
	position:relative;
	background-color:#222;
	height:500px;
	width:856px;
	padding-left:2px;
	padding-right:2px;
	margin-top: 5px;
	margin-right: 28px;
	margin-bottom: 12px;
	margin-left: 28px;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
}


/*Stats Table CSS */
.TableContent {
	position:relative;
	background-color:#222;
	height:320px;
	width:856px;
	padding-left:2px;
	padding-right:2px;
	padding-top:5px;
	margin-top: 5px;
	margin-right: 28px;
	margin-bottom: 12px;
	margin-left: 28px;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.5);
}

.TableTeamCall {
	position:relative;
	width:36px;
	height:118px;
	text-align:center;
	font-size:24px;
	margin:10px;
}

.TableTeamCallText {
	position:relative;
	margin: 0 auto;
	top:60px;
	font-weight: bolder;
}

.datagrid table {
	border-collapse: collapse;
	text-align: left;
	background-color: #181818;
} 
.datagrid {
	overflow: hidden;
	margin-bottom: 5px;
	width:794px;
	float: left;
}
.datagrid a {
	color:#e8e8e8 !important;
}

.datagrid table td, .datagrid table th { 
	padding: 1px 1px; 
}
.datagrid table thead th {
	background-color:#222;
	color:#CCC;
	font-size: 10px;
	font-weight: bold;
	border-left: 1px solid #1f1f1f;
} 

.datagrid table thead th:first-child { 
	border: none; 
}
.datagrid table tbody td { 
	color: #e8e8e8; 
	border-left: 1px solid #1e1e1e;
	font-size: 12px;
	font-weight: normal; 
}
.datagrid table tbody .alt td { 
	background: #222; 
	color: #FFF; 
}
.datagrid table tbody td:first-child { 
	border-left: none; 
}
.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}

.datagrid table tfoot td { 
	padding: 0; 
	font-size: 12px 
} 

/* Capthcha & Comments Content */
#comments {
	position: relative;
	width: auto;
	background-color: rgba(51,51,51,0.9);
	top: 10px;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	padding-top: 9px;
	padding-right: 25px;
	padding-bottom: 9px;
	padding-left: 25px;
}

#cptcha {
	position:relative;
	height:128px;
	width:330px;
	float:left;
}

#capBox{
	position:relative;
}

#comfield {
	position:relative;
	height:128px;
	width:100%;
}

#userField {
	position:relative;
	float: right;
	padding-top: 15px;
}

#submitField {
	position:relative;
	float: right;
	padding-top: 15px;
}

#commentField {
	position:relative;
	float: right;
}

#comlist {
	position:relative;
	font-size: small;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	margin-bottom: 10px;
	background-color: rgba(51,51,51,0.5);
}


/* Green Section Lables */ 
.yel_head {
	position:relative;
	height:50px;
	width:964px;
	left:-20px;
	color: #333;
	font-size: x-large;
	font-weight: bold;
	z-index: 4;
}

.yel_a {
	position:relative;
	height:50px;
	background-image: url(Images/psd/images/green_under_01.png);
	width: 33px;
	float: left;
	z-index: 4;
}

.yel_b {
	position:relative;
	height:38px;
	background-image: url(Images/psd/images/green_under_02.png);
	width: 884px;
	float: left;
	background-repeat: repeat-x;
	padding-top: 8px;
	padding-bottom: 8px;
	z-index: 4;
}

.yel_c {
	position:relative;
	height:50px;
	background-image: url(Images/psd/images/green_under_03.png);
	width: 33px;
	float: left;
	z-index: 4;
}

.FloatRight {	float:right;}

.FloatLeft {	float:left;}

.rotate {
  -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
  -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
	-ms-transform: rotate(-90deg);	/* IE */
	-o-transform: rotate(-90deg);/* Opera */
}
