@charset "utf-8";
/* CSS Document */

body {
	background: #333333;
	height: 100%;
	width: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: scroll;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #FFF;
	background-image: url(Images/logo1splash.jpg);
	background-position: center top;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration:none;
	color: #003;
}

a:link {
	color: #003;

}

a:visited {
	color: #003;

}

a:active {
	color: #003;

}

a:hover {
	color: #003;

}

#content {
	position: relative;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
}

      
.tabs input[type=radio] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.tabs {
	width: 952px;
	float: none;
	list-style: none;
	position: relative;
	padding: 0;
	margin: 20px auto;
}
.tabs li{
	float: left;
}
.tabs label {
	height:50px;
	display: block;
	border-radius: 3px 3px 0 0;
	color: #85bca5;
	font-size: 20px;
	font-weight: normal;
	background: rgba(255,255,255,0.2);
	cursor: pointer;
	position: relative;
	top: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.tabs label:hover {
	background: rgba(255,255,255,0.5);
	top: 0;
}

[id^=tab]:checked + label {
	background: #555;
	color: white;
	top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
	display: block;
}
.tab-content{
	z-index: 2;
	display: none;
	text-align: left;
	width: 100%;
	font-size: 20px;
	line-height: 140%;
	padding-top: 15px;
	background: #555;
	color: white;
	position: absolute;
	top: 53px;
	left: 0;
	box-sizing: border-box;
	-webkit-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 5px;
}

#top {
	position: relative;	
}

#banner {
	position: relative;
	height: 70px;
	
}
#topmenu {
	position: relative;
	font-size: small;
	padding: 2px;
	color: #333;
	margin-right: 20px;
	margin-left: 280px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
}
#scoreBoxContainer {
	position: relative;
	height: 37px;
	width: 912px;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	margin-right: 20px;
	margin-left: 24px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.topScoreBox {
	position: relative;
	height: 36px;
	width: 150px;
	float: left;
	border: 1px solid #CCC;
	cursor: pointer;
}
.DateBox {
	background-color: #666;
	color: #F93;
	font-size: x-small;
	text-align: center;
}
.TeamBox {
	height:24px;
background: rgb(14,14,14); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(14,14,14) 0%, rgb(81,81,81) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(14,14,14)), color-stop(100%,rgb(81,81,81))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(14,14,14) 0%,rgb(81,81,81) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(14,14,14) 0%,rgb(81,81,81) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(14,14,14) 0%,rgb(81,81,81) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(14,14,14) 0%,rgb(81,81,81) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#515151',GradientType=0 ); /* IE6-9 */

	color: #FFF;
	text-align: center;
}

#RightAdd {
	position:relative;
	float:left;
	height: 600px;
	width: 160px;
}

#TopAd {
	position:relative;
	margin-right: auto;
	margin-left: auto;
	width: 728px;
	padding-right: 116px;
	padding-left: 116px;
	padding-top: 15px;
	padding-bottom: 6px;
}


#mid {
	position: relative;
	width: auto;
	background-color: rgba(51,51,51,0.9);
	top: 10px;
	padding: 3px;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
}

.Article {
	float: left;
	position: relative;
	background-color:#FFF;
	width: 550px;
}

.ArticleText {
	float: left;
	position: realative;
	padding: 1em;
	width: 360px;
}

.ArticleText a {	text-decoration:none;	color: #FFF;}
.ArticleText a:link {	color: #FFF;}
.ArticleText a:visited {	color: #FFF;}
.ArticleText a:active {	color: #FFF;}
.ArticleText a:hover {	color: #FFF;}

#micro {
	position: relative;
	width: 300px;
	background-color: rgba(51,51,51,0.9);
	top: 4px;
	padding: 3px;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	float: left;
	height: 150px;
	margin-top: 20px;
	margin-right: 13px;
	margin-bottom: 6px;
}


#bot {
	position: relative;
	clear: both;
	background-color: rgba(51,51,51,0.9);
	margin-right: 30px;
	margin-left: 30px;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 20px;
	top: 10px;
	box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-moz-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	-webkit-box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.88);
	margin-bottom: 10px;
}

#pickOrder {
	background-image: url(../Images/pickArrow2.png);
	background-repeat: repeat-x;
	height: 111px;
	border: thin solid #FFF;
	width: 893px;
	background-position: center center;
	background-color: #FFF;
	position: relative;
}
#contClear {
	clear: both;
	position: relative;
}


.icon {
	z-index: 2;
	position: absolute;
	clear: left;
}

.images {
	position:absolute;
  z-index: 1;
}
#TeamsTop {
	position: relative;
	height: 1px;
	width: 956px;
	z-index: 3;
	top: -55px;
	margin-left: 305px;
}
#TeamTopPic {
	position: relative;
	height: 250px;
	width: 956px;
}
#BlueTeam {
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	color: #06F;
	text-transform: none;
	width: 300px;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	height: 75px;
	text-align: center;
	vertical-align: middle;
}


#RedTeam {
	position: absolute;
	right: 5px;
	font-size: 30px;
	font-weight: bold;
	color: #F33;
	width: 300px;
	text-align: right;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
	height: 75px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;

}

.PicksTable{
	float: left;
	position: relative;
	text-align: center;
}

.ImgBox{
	float: left;
	height: 260px;
	width: 260px;
	position: relative;
}

.PlaContBox{
	float: left;
	
}


.datagrid table { 
	border-collapse: collapse; 
	text-align: left; 
} 
.datagrid {
	background: #fff;
	overflow: hidden;
	float:left;
	margin-bottom: 5px;
}
.datagrid a {
	color:#00557F !important;
}

.datagrid table td, .datagrid table th { 
	padding: 1px 1px; 
}
.datagrid table thead th {
	background-color:#333;
	color:#FFFFFF;
	font-size: 10px;
	font-weight: bold;
	border-left: 1px solid #444;
} 

.datagrid table thead th:first-child { 
	border: none; 
}
.datagrid table tbody td { 
	color: #00557F; 
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal; 
}
.datagrid table tbody .alt td { 
	background: #CCCCCC; 
	color: #00557F; 
}
.datagrid table tbody td:first-child { 
	border-left: none; 
}
.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}

.datagrid table tfoot td { 
	padding: 0; 
	font-size: 12px 
} 








.meter-wrap, .meter-value{
	width:15px;
	height:2px;
	position: absolute;
}
.meter-wrap{
	background-color:#FFF;
	border: 1px solid #000;
}
.health {
	background-color: #3C0;
}
#minimap {
	background-image: url(../Images/psd/SummonersRift.jpg);
	height: 856px;
	width: 856px;
	position: relative;
	border: thin solid #333;
}
.RTicon {
	background-image: url(../Images/redtower.png);
	height: 17px;
	width: 11px;
	position: absolute;
	bottom: 3px;
	left: 2px;
}
.BTicon {
	background-image: url(../Images/bluetower.png);
	height: 17px;
	width: 11px;
	position: absolute;
	bottom: 3px;
	left: 2px;
}
.RIicon {
	background-image: url(../Images/redinhib.png);
	height: 12px;
	width: 12px;
	position: absolute;
	bottom: 3px;
	left: 2px;
}
.BIicon {
	background-image: url(../Images/blueinhib.png);
	height: 12px;
	width: 12px;
	position: absolute;
	bottom: 3px;
	left: 2px;
}